*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
body{
    background: bisque;
    
}
/* heading */
div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

}
div,h1{
   text-decoration: underline;
   color: rgb(49, 66, 221);
   font-size: larger;

}
/* image gallery */
.image-gallery{
 
    width: 80%;
    margin: auto;
    padding: 20px 20px 0px 0px  ;
    height: 60%;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 50px 30px 30px 180px;
  
}
.image-gallery img{
    width: 60%;
    height: 80%;
    cursor: pointer;
    border-radius: 5px;

}
/* hover effect */
.image-gallery img:hover{
    transform: scale(0.8) rotate(15deg);
    border-radius: 40px;
    box-shadow: 0px 30px 72px rgba(68,90, 136, 2) ;
}

/* full image section */
.full-image{

    height:100vh ;
    width: 100%;    
    top: 0;
    left: 0;
    position: fixed;
    background: black;
    display: none;
    align-items: center;
    justify-content: center;
    
    

   
}
.full-image img{
    
    width: 50%;
    max-width: 300px;
    border-radius: 20px;
   
}

.full-image span{
    position: absolute;
    top: 5%;
    right:5%;
    color: white;
}

